params {
    reference_base = "/mnt/ngs_data/nextflow/db_references"
}

process {
    executor = 'local'
    resourceLimits = [ cpus: 48, memory: 150.GB, time: 72.h ]
}

executor {
    queueSize=5
}

apptainer {
    enabled = true
    cacheDir = "/mnt/ngs_data/nextflow/apptainer_cache"
	envWhitelist = "HTTP_PROXY,HTTPS_PROXY"
}