params {
    reference_base = "$HOME/nextflow/db_references"
}

process {
    executor = 'local'
    resourceLimits = [ cpus: 6, memory: 30.GB, time: 72.h ]
}

executor {
    queueSize=5
}

docker {
    enabled = true
    cacheDir = "$HOME/nextflow/docker_cache"
	envWhitelist = "HTTP_PROXY,HTTPS_PROXY"
}