
// Job parameters to set for this environment

params {
	reference_base = "/media/ngs_sr/storage1/FoodMe2"
}

// Resource manager settings

executor {
  queueSize=10
}

// Process setting

process {
  executor = 'local'
  resourceLimits = [ cpus: 32, memory: 240.GB, time: 72.h ]
}

docker {
  enabled = true
  cacheDir = "/media/ngs_sr/storage1/docker_cache"
}
