
// Job parameters to set for this environment

params {
	reference_base = "/work_syn/shared/references"
  logo = "${reference_base}/lsh/lsh_logo.jpeg"
}

// Resource manager settings

executor {
  queueSize=50
}

// Process setting

process {
  executor = 'slurm'
  queue = 'all'
  resourceLimits = [ cpus: 40, memory: 250.GB, time: 72.h ]
}

conda {
  enabled = true
  useMamba = true
  cacheDir = "/work_syn/mhoeppner/conda"
}

