// Job parameters to set for this environment

params {
  reference_base = "/work_syn/shared/references"
  logo = "${reference_base}/lsh/lsh_logo.jpeg"
}

// Process setting

process {
  executor = 'local'
  resourceLimits = [ cpus: 10, memory: 30.GB, time: 72.h ]
}

singularity {
  enabled = true
  runOptions = "-B /scratch -B /work_syn -B /minknow"
  cacheDir = "/work_syn/shared/singularity_cache"
  envWhitelist = "HTTP_PROXY,HTTPS_PROXY"
  process."withLabel:gpu".containerOptions = "--nv"
}

