
// Job parameters to set for this environment

params {
  max_cpus = 8
  max_memory = 60.GB
	reference_base = "/work_syn/references"
}

// Resource manager settings

executor {
  queueSize=5
}

// Process setting

process {
  executor = 'local'
  resourceLimits = [ cpus: 8, memory: 60.GB, time: 72.h ]
}

singularity {
  enabled = true
  runOptions = "-B /work_syn"
  cacheDir = "/work_syn/singularity_cache"
}

