params {
	reference_base = "/ngs-sw/nextflow/nextflow_refs"
}

process {
	executor = 'local'
	resourceLimits = [ cpus: 8, memory: 64.GB, time: 72.h ]
}

env {
	HOME = "$PWD"
	XDG_CACHE_HOME = "$PWD/.cache"
}

executor {
	queueSize=5
}

docker {
    enabled = true
    cacheDir = "/ngs-sw/nextflow/nextflow_envs"
	fixOwnership = true
	runOptions = '-u $(id -u):$(id -g)'
}
