params {
	reference_base = "/ngs-sw/nextflow/nextflow_refs"
}

process {
	executor = 'local'
	resourceLimits = [ cpus: 8, memory: 64.GB, time: 72.h ]
}

executor {
	queueSize=5
}

apptainer {
  enabled = true
  cacheDir = "/ngs-sw/nextflow/nextflow_envs"
  runOptions = "-B /ngs-sw/nextflow -B /home"
  envWhitelist = "HTTP_PROXY,HTTPS_PROXY"
}
